.headerChild {
  height: 99px;
  width: 1728px;
  position: relative;
  background-color: var(--color-yellow);
  display: none;
  max-width: 100%;
}
.employeeManagement {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
  z-index: 1;
}
.employeeManagementWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.buttonChild {
  height: 62px;
  width: 265px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-royalblue);
  display: none;
}
.addEmployees {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  z-index: 1;
}
.button,
.buttonItem {
  border-radius: var(--br-21xl);
  background-color: var(--color-royalblue);
}
.button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-mid);
  white-space: nowrap;
  z-index: 1;
}
.buttonItem {
  height: 62px;
  width: 265px;
  position: relative;
  display: none;
}
.updateEmployees {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  z-index: 1;
}
.button1 {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-royalblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-mid);
  white-space: nowrap;
  z-index: 1;
}
.iconamoonprofileDuotone {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.iconamoonprofileDuotoneWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
}
.employeesActions {
  width: 630px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--background-default-default);
}
.header,
.tableHeaderWrapper {
  position: absolute;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header {
  top: 0;
  left: 0;
  background-color: var(--color-yellow);
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-18xl) var(--padding-sm)
    var(--padding-61xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-royalblue);
  font-family: var(--font-poppins);
}
.tableHeaderWrapper {
  top: 85px;
  left: 882px;
  width: 845px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 38px 18px var(--padding-4xs) 0;
  z-index: 2;
}
.successfulBusinessTeamExpreIcon,
.teamWorkingTogetherProjectIcon {
  align-self: stretch;
  width: 483.9px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 725px;
  max-width: 100%;
}
.successfulBusinessTeamExpreIcon {
  width: 343px;
}
.teamWorkingTogetherProjectParent {
  position: absolute;
  top: 114px;
  left: 0;
  width: 862px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-6xs) 0;
  box-sizing: border-box;
  gap: 0.1px;
  max-width: 100%;
}
.headerParent {
  align-self: stretch;
  height: 839px;
  position: relative;
  max-width: 100%;
}
.editEmployees {
  width: 100%;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .employeesActions {
    display: none;
  }
  .header {
    width: 1098px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .successfulBusinessTeamExpreIcon,
  .teamWorkingTogetherProjectIcon {
    flex: 1;
  }
  .teamWorkingTogetherProjectParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .headerParent {
    height: auto;
    min-height: 839;
  }
}
@media screen and (max-width: 450px) {
  .button {
    display: none;
  }
  .employeesActions {
    width: 365px;
  }
}
